{% extends 'base.html' %}
{% load filters %}
{% load static %}
{% block main_content %}

    <div class="obj">
        <h4 class="objective-title">Create Project</h4>
        <h5>New Residential Building Project</h5>
        <h5>without existing infrastructure</h5>
    </div>
    <div class="container-form">
        <h4>Project Information Input</h4>
        <form action="{% url 'build_no_infrastructure' %}" method="post">
            <div class="mb-3">
                <label for="project-name" class="col-sm-3 col-form-label text-right">Project name</label>
                {{ form.name|add_class:"form-control" }}
                {% if form.name.errors %}
                    <div class="error">{{ form.name.errors }}</div>
                {% endif %}
            </div>
            <div class="row">
                <div class="col-md-6">
                    <div class="mb-3">
                        <label for="bathroom-sink" class="form-label text-right">Bathroom sink</label>
                        {{ form.bathroom_sink|add_class:"form-control" }}
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="mb-3">

                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <div class="mb-3">
                        <label for="kitchen-sink" class="form-label">Kitchen sink</label>
                        {{ form.kitchen_sink|add_class:"form-control" }}
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="mb-3">

                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <div class="mb-3">
                        <label for="toilet-seat" class="form-label">Toilet seat</label>
                        {{ form.toilet_seat|add_class:"form-control" }}
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="mb-3">

                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <div class="mb-3">
                        <label for="washing-machine" class="form-label">Washing machine</label>
                        {{ form.washing_machine|add_class:"form-control" }}
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="mb-3">

                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <div class="mb-3">
                        <label for="dishwasher" class="form-label">Dishwasher</label>
                        {{ form.dishwasher|add_class:"form-control" }}
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="mb-3">

                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <div class="mb-3">
                        <label for="shower" class="form-label">Shower</label>
                        {{ form.shower|add_class:"form-control" }}
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="mb-3">

                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <div class="mb-3">
                        <label for="bathtub" class="form-label">Bathtub</label>
                        {{ form.bathtub|add_class:"form-control" }}
                    </div>
                </div>
                
            </div>
            <div class="row">
                <div class="col-md-6">
                    <div class="mb-3">
                        <label for="building-residence" class="form-label">Number of building residence:</label>
                        {{ form.building_residence|add_class:"form-control" }}
                        {% if form.building_residence.errors %}
                            <div class="error">{{ form.building_residence.errors }}</div>
                        {% endif %}
                    </div>
                </div>
                {% if form.non_field_errors %}
                    {% for error in form.non_field_errors %}
                        <div class="error">{{ error }}</div>
                    {% endfor %}
                {% endif %}
            </div>
            <button type="submit" class="btn btn-primary d-block mx-auto">Create & Calculate Parameters</button>
            {% csrf_token %}

        </form>

    </div>

{% endblock %}