{% extends 'base.html' %}
{% load static %}
{% block main_content %}
<div class="obj">
    <h4 class="objective-title">Create Project</h4>
    <h5>New Residential Building Project</h5>
    <h5>with existing infrastructure</h5>
</div>
<div class="container-form">
    <h4>Project Information Input</h4>
    <form>
        <div class="mb-3">
            <label for="exampleInputEmail1" class="form-label">Project name</label>
            <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">

        </div>
        <div class="row">
            <div class="col-md-6">
                <div class="mb-3">
                    <label for="firstName" class="form-label">Bathroom sink</label>
                    <input type="text" class="form-control" id="firstName">
                </div>
            </div>
            <div class="col-md-6">
                <div class="mb-3">
                    <label for="lastName" class="form-label">Building area</label>
                    <input type="text" class="form-control" id="lastName">
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <div class="mb-3">
                    <label for="email" class="form-label">Kitchen sink</label>
                    <input type="email" class="form-control" id="email">
                </div>
            </div>
            <div class="col-md-6">
                <div class="mb-3">
                    <label for="password" class="form-label">Property area</label>
                    <input type="password" class="form-control" id="password">
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <div class="mb-3">
                    <label for="firstName" class="form-label">Toilet seat</label>
                    <input type="text" class="form-control" id="firstName">
                </div>
            </div>
            <div class="col-md-6">
                <div class="mb-3">
                    <label for="lastName" class="form-label">Percentage of green area</label>
                    <input type="text" class="form-control" id="lastName">
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <div class="mb-3">
                    <label for="email" class="form-label">Washing machine</label>
                    <input type="email" class="form-control" id="email">
                </div>
            </div>
            <div class="col-md-6">
                <div class="mb-3">

                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <div class="mb-3">
                    <label for="firstName" class="form-label">Dishwasher</label>
                    <input type="text" class="form-control" id="firstName">
                </div>
            </div>
            <div class="col-md-6">
                <div class="mb-3">
                    <label for="lastName" class="form-label">Underground parking spots if any</label>
                    <input type="text" class="form-control" id="lastName">
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <div class="mb-3">
                    <label for="email" class="form-label">Shower</label>
                    <input type="email" class="form-control" id="email">
                </div>
            </div>
            <div class="col-md-6">
                <div class="mb-3">
                    <label for="password" class="form-label">Floors</label>
                    <input type="password" class="form-control" id="password">
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <div class="mb-3">
                    <label for="email" class="form-label">Thub</label>
                    <input type="email" class="form-control" id="email">
                </div>
            </div>
            <div class="col-md-6">
                <div class="mb-3">
                    <label for="password" class="form-label">Floor siphon</label>
                    <input type="password" class="form-control" id="password">
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <div class="mb-3">
                    <label for="email" class="form-label">Number of building residence:</label>
                    <input type="email" class="form-control" id="email">
                </div>
            </div>
            <button type="submit" class="btn btn-primary d-block mx-auto">Create & Calculate Parameters</button>

    </form>
</div>


{% endblock %}