{% extends 'base.html' %}
{% load static %}
{% block main_content %}

<div class="obj">
    <h4 class="objective-title">My Projects</h4>
</div>
<div class="container-cards">

    <div class="card" style="width: 18rem;">
        <img src="../staticfiles/images/house.png" class="card-img-top" alt="image">
        <div class="card-body">
            <h5 class="card-title">name of the project</h5>
            <a href="#" class="btn btn-primary">Details</a>
        </div>
    </div>
    <div class="card" style="width: 18rem;">
        <img src="../staticfiles/images/house.png" class="card-img-top" alt="image">
        <div class="card-body">
            <h5 class="card-title">name of the project</h5>
            <a href="#" class="btn btn-primary">Details</a>
        </div>
    </div>
    <div class="card" style="width: 18rem;">
        <img src="../staticfiles/images/house.png" class="card-img-top" alt="image">
        <div class="card-body">
            <h5 class="card-title">name of the project</h5>
            <a href="#" class="btn btn-primary">Details</a>
        </div>
    </div>
</div>

{% endblock %}