{% extends 'base.html' %}
{% load static %}
{% block main_content %}
<div class="obj">
    <h4 class="objective-title">Project Details</h4>
</div>
<div class="container-profile">

    <div class="card mx-auto" style="width: 18rem;">
        <img src="{% static 'images/infrastructure.png' %}" class="card-img-top" alt="image">
        <div class="card-body">
            <h5 class="card-title"> {{ project_name }}</h5>


            <!-- Button trigger modal -->
            <a href="{% url 'infrastructure_delete' slug_name=slug %}" class="btn btn-danger">
                Delete Project
            </a>
            <a href="{% url 'infrastructure_edit' slug_name=slug %}" class="btn btn-primary">
                Edit Project
            </a>
 
        </div>

    </div>
    <div class="profile-details">
        <!-- If only water supply display only one -->
        <div class="info">
            <h5>Plumbing information :</h5>
            <p>Diameter = DN....</p>
            <p>Length of the new plumbing: ... m</p>
            <p>Existing pavement: Yes/No</p>
            <p>Number of fire hydrants: ...</p>
            <p>Еstimated cost of execution: ...lv</p>


        </div>
        <div class="info">
            <h5>Sewer information :</h5>
            <p>Diameter = DN....</p>
            <p>Length of the new sewer: ... m</p>
            <p>Existing pavement: Yes/No</p>
            <p>Street sewer inspection manholes: ...</p>
            <p>Еstimated cost of execution: ...lv</p>

        </div>
    </div>
</div>


{% endblock %}