{% extends 'base.html' %}
{% load static %}
{% block main_content %}
<div class="obj">
    <h4 class="objective-title">Project Details</h4>
</div>
<div class="container-profile">

    <div class="card mx-auto" style="width: 18rem;">
        <img src="{% static 'images/house.png' %}" class="card-img-top" alt="image">
        <div class="card-body">
            <h5 class="card-title">{{ project_name }}</h5>


            <!-- Button trigger modal -->
            <a href="{% url 'building_with_infrastructure_delete' slug_name=slug %}" class="btn btn-danger">
                Delete Project
            </a>
            <a href="{% url 'building_with_infrastructure_edit' slug_name=slug %}" class="btn btn-primary">
                Edit Project
            </a>
            
           
        </div>

    </div>
    <div class="profile-details">
        <div class="info">
            <h5>Building plumbing diversion information :</h5>
            <p>Diameter = DN....</p>
            <p>v = ...m/s</p>
            <p>q domestic = .... l/s</p>
            <p>q fire = .... l/s</p>
            <p>q overall = .... l/s</p>

            <p>Type of water meter: Normal/Combined with Q3 = ...l/s D = DN...</p>
            <p>Need for pumping station: Yes/No</p>


        </div>
        <div class="info">
            <h5>Building sewer diversion information:</h5>
            <p>Diameter = DN....</p>
            <p>i = ... %</p>
            <p>Q domestic ww = .... l/s</p>
            <p>Q rain ww = .... l/s</p>
            <p>Q overall ww = .... l/s</p>

        </div>
    </div>
</div>


{% endblock %}