{% extends 'base.html' %}
{% load static %}
{% block main_content %}
    <div class="obj">
        <h4 class="objective-title">Project Details</h4>
    </div>
    <div class="container-profile">

        <div class="card mx-auto" style="width: 18rem;">
            <img src="{% static 'images/House-plumbing-diagram.png' %}" class="card-img-top" alt="image">
            <div class="card-body">
                <h5 class="card-title">{{ project_name }}</h5>


                <!-- Button trigger modal -->
                <button type="button" class="btn btn-danger" data-bs-toggle="modal"
                        data-bs-target="#exampleModal">
                    Delete Project
                </button>
                <a href="{% url 'building_with_infrastructure_edit' slug_name=slug %}" class="btn btn-primary">
                    Edit Project
                </a>

                <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel"
                     aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h1 class="modal-title fs-5" id="exampleModalLabel">Are you sure you want to delete your
                                    project ?</h1>
                                <button type="button" class="btn-close" data-bs-dismiss="modal"
                                        aria-label="Close"></button>
                            </div>

                            <div class="modal-footer mx-auto">
                                <form method="post"
                                      action="{% url 'building_with_infrastructure_delete' slug_name=object.slug %}">
                                    {% csrf_token %}
                                    <input type="hidden" name="confirm_delete" value="1">
                                    <button type="submit" class="btn btn-danger">Yes, do it !</button>
                                </form>
                                <button type="button" class="btn btn-primary" data-bs-dismiss="modal">Discard</button>
                            </div>
                        </div>
                    </div>
                </div>

            </div>

        </div>
        <div class="profile-details">
            <div class="info">
                <h5>Building plumbing diversion information :</h5>
                <p>Diameter = {{ plumbing_info.diameter }}</p>
                <p>Q dim = {{ plumbing_info.dimensional_maximum_second_water_quantity|floatformat:2 }} l/s</p>
                <p>V = {{ plumbing_info.water_speed|floatformat:2 }} m/s</p>
                <p>R = {{ plumbing_info.friction_losses|floatformat:2 }} kPa/m</p>
                <p>q fire = {{ plumbing_info.fire_water|floatformat:2 }} l/s</p>
                <p>q domestic = {{ plumbing_info.domestic_water_only|floatformat:2 }} l/s</p>

                <h6>Other information:</h6>
                <p>q max daily = {{ plumbing_info.max_daily_water_quantity|floatformat:2 }} l/d</p>
                <p>q average daily = {{ plumbing_info.average_daily_water_quantity|floatformat:2 }} m3/d</p>

                <p>Type of water meter: {{ plumbing_info.water_meter_type }}</p>
                <p>Need for pumping system: {{ plumbing_info.pump_needed }}</p>
                {% if plumbing_info.staff_sewer_message %}
                    <p>{{ plumbing_info.staff_water_message }}</p>
                {% endif %}


            </div>
            <div class="info">
                <h5>Building sewer diversion information:</h5>
                <p>Diameter = {{ plumbing_info.waste_water_diameter }} *</p>
                <p>V = {{ plumbing_info.waste_water_speed|floatformat:2 }} l/s</p>
                <p>i = {{ plumbing_info.slope }} (minimal, it depends on existing sewer depth)</p>
                <p>Q domestic ww = {{ plumbing_info.domestic_waste_water_quantity|floatformat:2 }} l/s</p>
                <p>Q rain ww = {{ plumbing_info.sum_rain_water|floatformat:2 }} l/s</p>
                <p>Q overall ww = {{ plumbing_info.overall_waste_water|floatformat:2 }} l/s</p>
                {% if plumbing_info.staff_sewer_message %}
                    <p>{{ plumbing_info.staff_sewer_message }}</p>
                {% endif %}
                <div class="info">
                    * If the slope can be bigger, diameter can be reduced (min. diameter DN150)
                </div>

            </div>
        </div>
            <div class="profile-details">
            <p><i>All calculations are made based on Regulation No. 4 of June 17, 2005, for the design, construction, and
                operation of building water supply and sewerage installations.</i></p>
        </div>
    </div>


{% endblock %}