{% extends 'base.html' %}
{% load static %}
{% block main_content %}
<div class="obj">
    <h4 class="objective-title">Project Details</h4>
</div>
<div class="container-profile">

    <div class="card mx-auto" style="width: 18rem;">
        <img src="{% static 'images/house.png' %}" class="card-img-top" alt="image">
        <div class="card-body">
            <h5 class="card-title">Name of the project</h5>


            <!-- Button trigger modal -->
            <button type="button" class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#exampleModal">
                Delete Project
            </button>
            <button type="button" class="btn btn-primary">
                Edit Project
            </button>


            <!-- Modal -->
            <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel"
                 aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h1 class="modal-title fs-5" id="exampleModalLabel">Are you sure you want to delete your
                                project ?</h1>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>

                        <div class="modal-footer mx-auto">
                            <button type="button" class="btn btn-danger">Yes, do it!</button>
                            <button type="button" class="btn btn-primary" data-bs-dismiss="modal">Discard</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
    <div class="profile-details">
        <div class="info">
            <h5>Building plumbing information:</h5>
            <p>Diameter = DN....</p>
            <p>v = ...m/s</p>
            <p>q domestic = .... l/s</p>
            <p>q overall = .... l/s</p>

            <p>Need for pumping station: Yes/No</p>

            <a href="#">Common Detail</a>

        </div>
        <div class="info">
            <h5>Waste water tank for the building:</h5>
            <p>Tank volume = ...m3</p>
            <a href="#">Common Detail</a>
        </div>
    </div>
</div>

{% endblock %}