{% extends 'base.html' %}
{% load static %}
{% block main_content %}
    <div class="obj">
        <h4 class="objective-title">Project Details</h4>
    </div>
    <div class="container-profile">

        <div class="card mx-auto" style="width: 18rem;">
            <img src="{% static 'images/infrastructure.png' %}" class="card-img-top" alt="image">
            <div class="card-body">
                <h5 class="card-title"> {{ project_name }}</h5>


                <!-- Button trigger modal -->
                <button type="button" class="btn btn-danger" data-bs-toggle="modal"
                        data-bs-target="#exampleModal">
                    Delete Project
                </button>
                <a href="{% url 'infrastructure_edit' slug_name=slug %}" class="btn btn-primary">
                    Edit Project
                </a>

                <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel"
                     aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h1 class="modal-title fs-5" id="exampleModalLabel">Are you sure you want to delete your
                                    project ?</h1>
                                <button type="button" class="btn-close" data-bs-dismiss="modal"
                                        aria-label="Close"></button>
                            </div>

                            <div class="modal-footer mx-auto">
                                <form method="post"
                                      action="{% url 'infrastructure_delete' slug_name=object.slug %}">
                                    {% csrf_token %}
                                    <input type="hidden" name="confirm_delete" value="1">
                                    <button type="submit" class="btn btn-danger">Yes, do it !</button>
                                </form>
                                <button type="button" class="btn btn-primary" data-bs-dismiss="modal">Discard</button>
                            </div>
                        </div>
                    </div>
                </div>


            </div>

        </div>
        <div class="profile-details">
            <!-- If only water supply display only one -->
            <div class="info">
                <h5>Plumbing information :</h5>
                <p>Diameter = DN....</p>
                <p>Length of the new plumbing: ... m</p>
                <p>Existing pavement: Yes/No</p>
                <p>Number of fire hydrants: ...</p>
                <p>Еstimated cost of execution: ...lv</p>


            </div>
            <div class="info">
                <h5>Sewer information :</h5>
                <p>Diameter = DN....</p>
                <p>Length of the new sewer: ... m</p>
                <p>Existing pavement: Yes/No</p>
                <p>Street sewer inspection manholes: ...</p>
                <p>Еstimated cost of execution: ...lv</p>

            </div>
        </div>
    </div>


{% endblock %}