{% extends 'base.html' %}
{% load filters %}
{% load static %}
{% block main_content %}

    <div class="container-form">
        <h4>Log In</h4>
        <form action="{% url 'login_user' %}?next={{ next }}" method="post">
            <div class="mb-3">
                <label for="exampleInputEmail1" class="col-sm-3 col-form-label text-right">Email address</label>
                {{ form.username|add_class:"form-control" }}
                {% for error in form.username.errors %}
                    <div class="error">{{ error }}</div>
                {% endfor %}
            </div>
            <div class="mb-3">
                <label for="exampleInputPassword1" class="col-sm-3 col-form-label text-right">Password</label>
                {{ form.password|add_class:"form-control" }}
                {% for error in form.password.errors %}
                    <div class="error">{{ error }}</div>
                {% endfor %}
            </div>
            {% if form.non_field_errors %}
                {% for error in form.non_field_errors %}
                    <div class="error">{{ error }}</div>
                {% endfor %}
            {% endif %}
            <button type="submit" class="btn btn-primary d-block mx-auto">Log In</button>

            {% csrf_token %}

        </form>
    </div>

{% endblock %}