{% extends 'base.html' %}
{% load static %}
{% block main_content %}

    <div class="obj">
        <h4 class="objective-title">Profile Details</h4>
    </div>
    <div class="container-profile">

        <div class="card mx-auto" style="width: 18rem;">
            {% if user.profile.profile_picture %}
                <img src="{{ user.profile.profile_picture.url }}" class="profile-picture" alt="profile_picture">
            {% else %}
                <img src="{% static 'images/default-profile-picture.jpg' %}" alt="default_profile_picture"
                     class="profile-picture">
            {% endif %}

            <div class="card-body">
                <p class="card-title">{{ user.email }}</p>

                {% if user.pk == request.user.pk %}

                    {% if user.profile.full_name %}
                        <h5 class="card-title">{{ user.profile.full_name }}</h5>
                    {% endif %}

                    <h8 class="project-number">Number of created projects:
                        {{ total_projects_count }}</h8>
                    <p></p>

                    <a href="{% url 'profile_edit' pk=object.pk %}" class="btn btn-primary">
                        Edit Profile
                    </a>
                    <a href="{% url 'profile_delete' pk=object.pk %}" class="btn btn-danger">
                        Delete Profile
                    </a>


                    <div>
                    <div> <p></p></div>
                        <a href="{% url 'review_create' %}" class="btn btn-outline-primary">
                            Create Review </a>
                        <a href="{% url 'my_reviews' %}" class="btn btn-outline-primary">
                            My Reviews </a>
                    </div>
                {% endif %}

            </div>

        </div>
        <div class="profile-details">
            <h6>Number residential building projects: {{ residential_projects_count }}</h6>
            <h6>Number infrastructure projects: {{ infrastructure_projects_count }}</h6>
        </div>
    </div>
{% endblock %}