{% extends 'base.html' %}
{% load static %}
{% block main_content %}
    
    <div class="obj">
        <h4 class="objective-title">Profile Details</h4>
    </div>
    <div class="container-profile">

        <div class="card mx-auto" style="width: 18rem;">
            {% if object.profile_picture %}
                <img src="{{ MEDIA_ }}{{ object.profile_picture.url }}" class="card-img-top" alt="image"/>
            {% else %}
                <img src="{% static 'images/profile.jpg' %}" class="card-img-top" alt="image"/>
            {% endif %}

            <div class="card-body">
                <p class="card-title">{{ profile.user.email }}</p>

                {% if object.pk == request.user.pk %}

                    {% if object.full_name %}
                        <h5 class="card-title">{{ object.full_name }}</h5>
                    {% endif %}

                    <h8 class="project-number">Number of created projects: #?</h8>
                    <p></p>


                    <a href="{% url 'profile_delete' pk=object.pk %}" class="btn btn-danger">
                        Delete Profile
                    </a>

                    <a href="{% url 'profile_edit' pk=object.pk %}" class="btn btn-primary">
                        Edit Profile
                    </a>
                {% endif %}

            </div>

        </div>
        <div class="profile-details">
            <h6>Number residential building projects: #?</h6>
            <h6>Number infrastructure projects: #?</h6>
        </div>
    </div>
{% endblock %}