{% extends 'base.html' %}
{% load static %}
{% block main_content %}
    <div class="container-index">
      <div class="text-container">
        <h5 class="siteText">Welcome to our comprehensive online tool designed to help you 
          analyze and calculate various parameters related to water supply and sewerage systems.
           Whether you're a professional engineer, a student, or an enthusiast eager to learn more, 
           our platform offers a range of features to support your needs.</h5>
      </div>
      <div class="image-container">
        <img src="{% static 'images/house.front.jpg' %}" alt="Your Image">
      </div>
    </div>
{% endblock %}