{% extends 'base.html' %}
{% load static %}
{% block main_content %}

<div class="obj">
    <h4 class="objective-title">Objective</h4>
    <p class="objective">To provide a comprehensive platform for managing and analyzing Water Supply and Sewerage (WSS)
        projects,
        offering a centralized hub for project data input, storage, and technical calculations. The WSS Hub aims to
        streamline the process of designing,
        implementing, and analyzing water and sewerage infrastructure, facilitating efficient project management and
        decision-making.
    </p>
</div>

{% endblock %}