{% extends 'base.html' %}
{% load filters %}
{% load static %}
{% block main_content %}

    <div class="obj">
        <h4 class="objective-title">My Reviews</h4>
    </div>
    <div class="container-cards">
        {% if user_reviews %}
            {% for review in user_reviews %}
                <div class="card" style="width: 18rem;">
                    <div class="card-body">
                        <p class="card-text">Rating:</p>
                        <div class="star-rating">
                            {% for i in 5|get_range reversed %}
                                {% if i < review.rating %}
                                    <img src="{% static 'images/star_rating.png' %}" alt="Filled Star" class="star">
                                {% else %}
                                    <img src="{% static 'images/star_no_rating.png' %}" alt="Empty Star" class="star">
                                {% endif %}
                            {% endfor %}
                        </div>
                        <div><p></p></div>
                        <div class="card mx-auto"
                             style="width: 100%; max-height: 15rem; overflow-y: auto; margin: 0 auto; text-align: center;">
                            <div class="card-header">
                                <label for="comment" class="form-label">Comment:</label>
                            </div>
                            <div class="card-body">
                                <p class="card-text">{{ review.comment }}</p>
                            </div>
                        </div>
                        <p class="card-text">Posted on: {{ review.date_created }}</p>
                        <a href="{% url 'review_edit' review.pk %}" class="btn btn-primary">Edit</a>
                        <button type="button" class="btn btn-danger" data-bs-toggle="modal"
                                data-bs-target="#exampleModal{{ review.pk }}">
                            Delete
                        </button>
                    </div>
                </div>


                <div class="modal fade" id="exampleModal{{ review.pk }}" tabindex="-1"
                     aria-labelledby="exampleModalLabel{{ review.pk }}" aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h1 class="modal-title fs-5" id="exampleModalLabel{{ review.pk }}">Are you sure you want
                                    to
                                    delete your review?</h1>
                                <button type="button" class="btn-close" data-bs-dismiss="modal"
                                        aria-label="Close"></button>
                            </div>
                            <div class="modal-footer mx-auto">
                                <form method="post" action="{% url 'review_delete' review.pk %}">
                                    {% csrf_token %}
                                    <input type="hidden" name="confirm_delete" value="1">
                                    <button type="submit" class="btn btn-danger">Yes, do it!</button>
                                </form>
                                <button type="button" class="btn btn-primary" data-bs-dismiss="modal">Discard</button>
                            </div>
                        </div>
                    </div>
                </div>

            {% endfor %}

        {% else %}
            <p>No reviews posted yet.</p>
        {% endif %}

    </div>

{% endblock %}
